
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Shoe</title>
  </head>


  <body>
    <a href="/shoes/">Back to Shoes</a>
    <h1>Create a New Shoe!</h1>
    <form action="/shoes" method="POST">
        <label for="name">Shoe Name:</label>
        <input type="text" name="name" id="name" />

        <label for="hasYouBoughtYet">Have You Bought This Shoe Yet?</label>
        <input type="checkbox" name="hasYouBoughtYet" id="hasYouBoughtYet" />          <!-- for and id are connect, so just use the same name. -->

        <button type="submit">Add Shoe</button>
    </form>
  </body>
</html>
